body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(to top,  #04469c 0%, #7ea6e2 100%);
  background-size: cover;
  height: 100vh;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#Content{
  background-color: white;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
  padding-top: 25px;
  border-radius: 25px;
  text-align: center;
}

#login {
  background-color: #04469c; /* Green */
   border: none;
   color: white;
   padding: 10px 26px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
  font-size: 18px;
  border-radius: 15px;
}